.icon-Cog{
	background:url('icons/Cog.png') no-repeat;
}
.icon-House{
	background:url('icons/house.png') no-repeat;
}
.icon-Reload{
	background:url('icons/reload.png') no-repeat;
}
.icon-User{
	background:url('icons/user.png') no-repeat;
}
.icon-UserAdd{
	background:url('icons/user_add.png') no-repeat;
}
.icon-UserAdd{
	background:url('icons/user_add.png') no-repeat;
}
.icon-UserEdit{
	background:url('icons/user_edit.png') no-repeat;
}
.icon-UserDelete{
	background:url('icons/user_delete.png') no-repeat;
}
.icon-UserHome{
	background:url('icons/user_home.png') no-repeat;
}